.callout {
	width: 400px;
    margin: 10px;
    border: 1px rgba(1, 4, 5, 1);
    padding: 15px;
    background-color: blue;
    color: #fff;
}

.callout img {
	float: right;
	margin: 0 0 10px 15px;
	border: 1px solid #927;
	padding: 3px;
	background-color: #597;
	width: 100px;
	height: auto;
}

blockquote {
    margin: 0;
}

cite {
	display: block;
	border-top: 1px dotted #fff;
	padding-top: 3px;
	text-align: right;
	font-size: smaller;
}